dist/index.html
<!-- @format -->
<html lang="ru">
  <head>
    <meta charset="utf-8"><meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>оставить товары</title>
  <link href="bundle.css" rel="stylesheet"></head>
  <body class="js-body">
    <div class="main_content">
<section class="toolbar">
  <div class="content">
    <div class="toolbar__block"><a class="block__logo" href="#" target="_blank"><img src="./assets/images/Logo.png" alt=""></a>
      <div class="block__menu">
        <div class="menu__icon">
          <svg class="icon__search" xmlns="http://www.w3.org/2000/svg">
            <path d="M23.625 21.875L19.875 18.125C20.7188 16.875 21.1562 15.3125 20.9375 13.625C20.5312 10.75 18.1875 8.4375 15.3438 8.0625C11.0938 7.53125 7.5 11.125 8.03125 15.375C8.40625 18.2188 10.7188 20.5625 13.5938 20.9688C15.2812 21.1875 16.8438 20.75 18.125 19.9062L21.8438 23.6562C22.3438 24.125 23.125 24.125 23.625 23.6562C24.0938 23.1562 24.0938 22.375 23.625 21.875ZM10.4688 14.5C10.4688 12.3125 12.25 10.5 14.4688 10.5C16.6562 10.5 18.4688 12.3125 18.4688 14.5C18.4688 16.7188 16.6562 18.5 14.4688 18.5C12.25 18.5 10.4688 16.7188 10.4688 14.5Z"></path>
          </svg>
          <svg class="icon__pt" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.77294 21V9.56H11.4529C12.7756 9.56 13.8103 9.85867 14.5569 10.456C15.3143 11.0427 15.6929 11.9227 15.6929 13.096V13.16C15.6929 14.3227 15.3143 15.1973 14.5569 15.784C13.7996 16.36 12.7809 16.648 11.5009 16.648H9.90094V21H7.77294ZM9.90094 15.112H11.4529C12.1569 15.112 12.6903 14.9467 13.0529 14.616C13.4263 14.2747 13.6129 13.7893 13.6129 13.16V13.096C13.6129 11.8373 12.8929 11.208 11.4529 11.208H9.90094V15.112ZM19.8109 21V11.24H16.6269V9.56H25.1389V11.24H21.9549V21H19.8109Z"></path>
          </svg>
          <svg class="icon__bar" xmlns="http://www.w3.org/2000/svg">
            <path class="icon__bar" d="M22 15H9.96875C9.4375 15 9 15.4688 9 16C9 16.5625 9.4375 17 9.96875 17H21.9688C22.5312 17 23 16.5625 23 16C23 15.4688 22.5312 15 22 15ZM22 20H9.96875C9.4375 20 9 20.4688 9 21C9 21.5 9.4375 22 9.96875 22H21.9688C22.5312 22 23 21.5625 23 21C23 20.4688 22.5312 20 22 20ZM22 10H9.96875C9.4375 10 9 10.4688 9 11C9 11.5 9.4375 12 9.96875 12H21.9688C22.5312 12 23 11.5625 23 11C23 10.4688 22.5312 10 22 10Z"></path>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="menuHamburger">
<section class="toolbar">
  <div class="content">
    <div class="toolbar__block"><a class="block__logo" href="#" target="_blank"><img src="./assets/images/Logo.png" alt=""></a>
      <div class="block__menu">
        <div class="menu__icon">
          <svg class="icon__search" xmlns="http://www.w3.org/2000/svg">
            <path d="M23.625 21.875L19.875 18.125C20.7188 16.875 21.1562 15.3125 20.9375 13.625C20.5312 10.75 18.1875 8.4375 15.3438 8.0625C11.0938 7.53125 7.5 11.125 8.03125 15.375C8.40625 18.2188 10.7188 20.5625 13.5938 20.9688C15.2812 21.1875 16.8438 20.75 18.125 19.9062L21.8438 23.6562C22.3438 24.125 23.125 24.125 23.625 23.6562C24.0938 23.1562 24.0938 22.375 23.625 21.875ZM10.4688 14.5C10.4688 12.3125 12.25 10.5 14.4688 10.5C16.6562 10.5 18.4688 12.3125 18.4688 14.5C18.4688 16.7188 16.6562 18.5 14.4688 18.5C12.25 18.5 10.4688 16.7188 10.4688 14.5Z"></path>
          </svg>
          <svg class="icon__pt" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.77294 21V9.56H11.4529C12.7756 9.56 13.8103 9.85867 14.5569 10.456C15.3143 11.0427 15.6929 11.9227 15.6929 13.096V13.16C15.6929 14.3227 15.3143 15.1973 14.5569 15.784C13.7996 16.36 12.7809 16.648 11.5009 16.648H9.90094V21H7.77294ZM9.90094 15.112H11.4529C12.1569 15.112 12.6903 14.9467 13.0529 14.616C13.4263 14.2747 13.6129 13.7893 13.6129 13.16V13.096C13.6129 11.8373 12.8929 11.208 11.4529 11.208H9.90094V15.112ZM19.8109 21V11.24H16.6269V9.56H25.1389V11.24H21.9549V21H19.8109Z"></path>
          </svg>
          <svg class="icon__bar" xmlns="http://www.w3.org/2000/svg">
            <path class="icon__bar" d="M22 15H9.96875C9.4375 15 9 15.4688 9 16C9 16.5625 9.4375 17 9.96875 17H21.9688C22.5312 17 23 16.5625 23 16C23 15.4688 22.5312 15 22 15ZM22 20H9.96875C9.4375 20 9 20.4688 9 21C9 21.5 9.4375 22 9.96875 22H21.9688C22.5312 22 23 21.5625 23 21C23 20.4688 22.5312 20 22 20ZM22 10H9.96875C9.4375 10 9 10.4688 9 11C9 11.5 9.4375 12 9.96875 12H21.9688C22.5312 12 23 11.5625 23 11C23 10.4688 22.5312 10 22 10Z"></path>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
  <div class="content"> 
    <div class="menuHamburger__login"> <img class="login__img" src="./assets/images/user.png" alt="">
      <p>Sign Up or Log in</p>
    </div>
    <nav class="menuHamburger__nav"> <a class="nav__item" href="#flowers">Plants and flowers</a><a class="nav__item" href="#flowers__slider">Plant care</a><a class="nav__item" href="#news">News</a></nav>
  </div>
</div>
      <section class="recommendation">
        <div class="content">
          <div class="recommendation__title section_h2">Recommended for you</div>
          <div class="recommendation__slider">
            <div class="swiper slider-r">
              <div class="swiper-wrapper"><a class="swiper-slide" href="https://www.obi.ru/" target="_blank"><img src="./assets/images/obi.png" alt="">
                  <p>ОБИ</p></a><a class="swiper-slide" href="https://leroymerlin.ru/" target="_blank"><img src="./assets/images/leroy.png" alt="">
                  <p>Леруа Мерлен</p></a><a class="swiper-slide" href="https://rostov.gorko.ru/%D1%86%D0%B2%D0%B5%D1%82%D1%8B/652905/" target="_blank"><img src="./assets/images/clumbu.png" alt="">
                  <p>Клумба</p></a><a class="swiper-slide" href="https://arthouse4.ru/blog/logotip_dlya_tsvetochnoy_masterskoy_buket_bar/" target="_blank"><img src="./assets/images/buket.png" alt="">
                  <p>Букет Бар</p></a></div>
            </div>
          </div>
          <div class="recommendation__prevue">
            <div> 
              <p class="prevue__title">Rubber-bearing ficus (elastic)</p>
              <p class="prevue__description">Ficus elastica (Ficus elastica), or rubber-bearing ficus...</p>
            </div><img class="prevue__img" src="./assets/images/ficus.png" alt="">
          </div>
        </div>
      </section>
      <section class="flowers" id="flowers">
        <div class="content">
          <div class="flowers__cart">
            <div class="cart__header section__headerBlock"> 
              <div class="header__title section_h2">Plants and flowers</div>
              <div class="header__see">See all			</div>
            </div>
            <div class="cart__block">
              <div class="block__item">
                <div class="item__img"><img src="./assets/images/orchid.png" alt=""></div>
                <div class="item__star">
                  <div class="star__img"><img src="./assets/images/star.png" alt=""></div>
                  <p>8.0</p>
                </div>
                <p class="item__title">Orchid</p>
                <div class="section-button item__review">Review</div>
              </div>
              <div class="block__item">
                <div class="item__img"><img src="./assets/images/pions.png" alt=""></div>
                <div class="item__star">
                  <div class="star__img"><img src="./assets/images/star.png" alt=""></div>
                  <p>9.0</p>
                </div>
                <p class="item__title">Pions</p>
                <div class="section-button item__review">Review</div>
              </div>
              <div class="block__item">
                <div class="item__img"><img src="./assets/images/aloe.png" alt=""></div>
                <div class="item__star">
                  <div class="star__img"><img src="./assets/images/star.png" alt=""></div>
                  <p>5.6</p>
                </div>
                <p class="item__title">Aloe</p>
                <div class="section-button item__review">Review</div>
              </div>
              <div class="block__item">
                <div class="item__img"><img src="./assets/images/chrysanthemum.png" alt=""></div>
                <div class="item__star">
                  <div class="star__img"><img src="./assets/images/star.png" alt=""></div>
                  <p>7.5</p>
                </div>
                <p class="item__title">Chrysanthemum</p>
                <div class="section-button item__review">Review</div>
              </div>
            </div>
          </div>
          <div class="flowers__slider" id="flowers__slider">
            <div class="slider__header section__headerBlock"> 
              <div class="header__title section_h2">Plant care</div>
              <div class="header__see">See all	</div>
            </div>
            <div class="swiper slider-flowers">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="slide__flowers"><img src="./assets/images/plant.png" alt="">
                    <p class="slide__title">Pots for plants</p>
                    <p class="slide__description">Flower pot Ingreen ø13 h10. 4 cm v0. 7 L plastic marble</p><a class="slide__btn section-buttonGreen" href="#" target="_blank">Go over</a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="slide__flowers"><img src="./assets/images/soil.png" alt="">
                    <p class="slide__title">Soil source</p>
                    <p class="slide__description">Geolia soil "For orchids" 2.5 L</p><a class="slide__btn section-buttonGreen" href="#" target="_blank">Go ove</a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="slide__flowers"><img src="./assets/images/wareting.png" alt="">
                    <p class="slide__title">Watering</p>
                    <p class="slide__description">Stretchable hose with Geolia Compact gun</p><a class="slide__btn section-buttonGreen" href="#" target="_blank">Go over</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="news" id="news"> 
        <div class="content"> 
          <div class="news__header section__headerBlock"> 
            <div class="header__title section_h2">News</div>
            <div class="header__see">See all</div>
          </div>
          <div class="news__block"> 
            <div class="block__item"> <img class="item__img" src="./assets/images/indoor.png" alt="">
              <div class="item__title">Indoor flowers and potted plants</div>
              <div class="item__info">
                <div class="info__data">16.06.21</div>
                <div class="info__views"><img class="views__img" src="./assets/images/views.png" alt=""><span>16</span></div>
              </div>
            </div>
          </div>
        </div>
      </section>
<footer class="footer"> <img class="iconlimitation" src="./assets/images/18+.png" alt="">
  <p>Our website is intended for informational purposes only and is not an advertisement. © 2018 - 2021</p>
</footer>
    </div>
  <script defer src="vendors-node_modules_swiper_swiper_esm_js.bundle.js"></script><script defer src="main.bundle.js"></script></body>
</html>

src/index.pug
<!-- @format -->
include ./miksins.pug


html(lang="ru")
	head
		meta(charset="utf-8")
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
		title= "оставить товары"
	body.js-body
		.main_content
			include ./modules/toolbar.pug
			include ./modules/menuHamburger.pug
			section.recommendation
				.content
					.recommendation__title.section_h2 Recommended for you
					.recommendation__slider
						.swiper.slider-r
							.swiper-wrapper
								a.swiper-slide(href='https://www.obi.ru/' target='_blank')
									img(src="./assets/images/obi.png", alt="")
									p ОБИ
								a.swiper-slide(href='https://leroymerlin.ru/' target='_blank')
									img(src="./assets/images/leroy.png", alt="")
									p Леруа Мерлен
								a.swiper-slide(href='https://rostov.gorko.ru/%D1%86%D0%B2%D0%B5%D1%82%D1%8B/652905/' target='_blank')
									img(src="./assets/images/clumbu.png", alt="")
									p Клумба
								a.swiper-slide(href='https://arthouse4.ru/blog/logotip_dlya_tsvetochnoy_masterskoy_buket_bar/' target='_blank')
									img(src="./assets/images/buket.png", alt="")
									p Букет Бар
					.recommendation__prevue
						div 
							p.prevue__title Rubber-bearing ficus (elastic)
							p.prevue__description Ficus elastica (Ficus elastica), or rubber-bearing ficus...
						img.prevue__img(src="./assets/images/ficus.png", alt="")
			section.flowers#flowers
				.content
					.flowers__cart
						.cart__header.section__headerBlock 
							.header__title.section_h2 Plants and flowers
							.header__see See all			
						.cart__block
							.block__item
								.item__img
									img(src="./assets/images/orchid.png", alt="")
								.item__star
									.star__img
										img(src="./assets/images/star.png", alt="")
									p 8.0
								p.item__title Orchid
								.section-button.item__review Review
							.block__item
								.item__img
									img(src="./assets/images/pions.png", alt="")
								.item__star
									.star__img
										img(src="./assets/images/star.png", alt="")
									p 9.0
								p.item__title Pions
								.section-button.item__review Review
							.block__item
								.item__img
									img(src="./assets/images/aloe.png", alt="")
								.item__star
									.star__img
										img(src="./assets/images/star.png", alt="")
									p 5.6
								p.item__title Aloe
								.section-button.item__review Review
							.block__item
								.item__img
									img(src="./assets/images/chrysanthemum.png", alt="")
								.item__star
									.star__img
										img(src="./assets/images/star.png", alt="")
									p 7.5
								p.item__title Chrysanthemum
								.section-button.item__review Review
					.flowers__slider#flowers__slider
						.slider__header.section__headerBlock  
							.header__title.section_h2 Plant care
							.header__see See all	
						.swiper.slider-flowers
							.swiper-wrapper
								.swiper-slide
									.slide__flowers
										img(src="./assets/images/plant.png", alt="")
										p.slide__title Pots for plants
										p.slide__description Flower pot Ingreen ø13 h10. 4 cm v0. 7 L plastic marble
										a(href='#' target="_blank").slide__btn.section-buttonGreen Go over
								.swiper-slide
									.slide__flowers
										img(src="./assets/images/soil.png", alt="")
										p.slide__title Soil source
										p.slide__description Geolia soil "For orchids" 2.5 L
										a(href='#' target="_blank").slide__btn.section-buttonGreen Go ove
								.swiper-slide
									.slide__flowers
										img(src="./assets/images/wareting.png", alt="")
										p.slide__title Watering
										p.slide__description Stretchable hose with Geolia Compact gun
										a(href='#' target="_blank").slide__btn.section-buttonGreen Go over
			section.news#news 
				.content 
					.news__header.section__headerBlock 
						.header__title.section_h2 News
						.header__see See all
					.news__block 
						.block__item 
							img(src="./assets/images/indoor.png", alt="").item__img
							.item__title Indoor flowers and potted plants
							.item__info
								.info__data 16.06.21
								.info__views
									img.views__img(src="./assets/images/views.png", alt="")
									span 16
			include ./modules/footer.pug
